<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>Chào  <span style="color: red;"> <%= name %></span> !</p> 

<p> <span style="color: red;font-size: 20px; font-weight: 600;">Rikkei CV</span> cảm ơn bạn đã quan tâm và gửi CV ứng tuyển.</p>
 Qua thông tin bạn cung cấp, Công ty có đánh giá cao những kiến thức và kinh nghiệm của bạn. Tuy nhiên, Chúng tôi rất lấy làm tiếc khi chưa thể lựa chọn bạn để đồng hành cùng Công ty trong thời điểm hiện tạ<i class="br"></i>

Công ty sẽ lưu hồ sơ của bạn trong cơ sở dữ liệu ứng viên tiềm năng và xin phép được liên hệ lại với bạn khi có cơ hội phù hợp trong tương lai. <br>

Chúc bạn thành công và gặp nhiều may mắn!
</body>
</html>