<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Xin chào, mời bạn truy cập đường link sau để đặt lại mất khẩu</p>
    <button class="btn btn-primary" ><a href="http://localhost:5173/update-password">Cập nhập mật khẩu</a></button>
</body>
</html>